body {
  color: white;
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  background-color: #12034F;
 
}

header{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #12034F;
  padding: 25px 25px 20px 25px;
}

header > h1 {
  font-size: 25px;
  line-height: 87px;
  margin: 20px;
}



.card-functions{
  justify-content: space-around;
  display: inline-flex;
}

button{
  padding: 7px;
  border: 3px solid #BF6F6F;
  box-sizing: border-box;
  background: #12034F;
  color: white;
  font-size: 15px;
}

#card-search{
  background: #12034F;
  padding: 10px;
  color: white;
  font-size: 15px;
  font-style: italic;
  border-bottom: 3px solid #BF6F6F;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
::placeholder{
  color: #F1D644;
  opacity:1; 
  text-align: right;
}

hr{
  background: #F1D644;
  border: 1px solid #F1D644;
  width: 85%;
  margin: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 200px;
  align-items: flex-start;
  z-index: -1
}

.flex-child{
 /* padding: 50px; */
}

#card-data{
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 40px
}

#card-image{
  padding: 50px;
}

.img-rev{
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1); 
}

.img-norm{
  transform: scaleY(1);
  /* empty div to display card image normally */
}